/*清除浮动*/

body {
    min-width: 1000px;
    overflow-y: scroll;
}

body .mon{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
    background-color: #e4e4e4;
    opacity: 0.6;
}


.cf {
    zoom: 1;
}

.cf:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #2f5775;
    // background-color: red;
}

header .wrap {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

header .wrap .title {
    float: left;
    height: 100%;
    line-height: 80px;
}

header .wrap .title a {
    font-family: arial;
    color: #fff;
}

header .wrap .wrapList {
    float: left;
    height: 80px;
    margin-left: 20px;
}

header .wrap .wrapList>li {
    display: inline-block;
    line-height: 80px;
    padding: 0 15px;
    cursor: pointer;
}

header .wrap .wrapList>li:hover {
    background-color: #22303c;
}

header .wrap .wrapList>li>a {
    font: 16px arial;
    color: #fff;
}

header .wrap .wrapList aside{
    display: none;
}
/*移动端控件适配*/

header .wrap .mediaTool {
    display: none;
}

header .wrap .homeTool{
    display: none;
}

.contentBody {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 80px;
    // background-color: #e4e4e4;
}

footer {
    box-sizing: border-box;
    padding: 20px 50px;
    width: 1000px;
    height: 100px;
    margin: 20px auto;
    // margin-bottom: 0px;
    border-top: 1px solid #8f959b;
    border-bottom: 1px solid #8f959b;
}

.back-to-top {
    visibility: hidden;
    position: fixed;
    left: 50%;
    margin-left: 510px;
    margin-bottom: 10px;
    bottom: 30px;
    width: 38px;
    height: 38px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    cursor: pointer;
}

.back-to-top:hover .to-top {
    display: block;
}

.back-to-top:hover .icon {
    display: none;
}

.back-to-top .icon:hover {
    display: none;
}

.back-to-top .icon:hover .to-top {
    display: block;
}

.back-to-top .to-top {
    display: none;
    position: absolute;
    font: 13px arial;
    color: #999;
    line-height: 19px;
    text-align: center;
}

.back-to-top .icon {
    display: block;
    position: absolute;
    top: 10px;
    left: 2px;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    background: url(../img/topfed.png) no-repeat -1px -10px;
}


/*媒体查询*/

@media screen and (max-width: 780px) {
    body {
        width: 100%;
        height: 100%;
        min-width: 300px;
    }
    header {
        width: 100%;
        height: 50px;
    }
    header .wrap {
        width: 100%;
        height: 50px;
    }
    header .wrap .title {
        font-size: 26px;
        float: none;
        line-height: 50px;
        text-indent: 20px;
    }

    .contentBody {
        width: 100%;
        margin-top: 0px;
    }

    .contentBody section.outer{
        width:100%;
        height: auto;
    }

    .contentBody section.outer article{
        width:100%;
        box-sizing: border-box;
        padding:5px 20px;
        margin:20px auto;
    }

    .contentBody section.outer article .artImg{
        width: 130px;
        height: 75px;
        margin-top:15px;
        margin-right: 10px;
    }
    
    .contentBody section.outer article .artTitle{
        float: none;
        display: block;
        font-size: 16px;
        margin-left:0;
        padding-top: 15px;
        margin-bottom: 2px;
        white-space: nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    .contentBody section.outer article .des{
        display: none;
    }

    .contentBody section.outer article .from{
        display: block;
        float: none;
        margin-left: 0px;
        margin-top: 0px;
    }

    .contentBody section.outer article .tag{
        display: block;
        margin-left: 0px;
        width: 60px;
        text-align: center;
        margin-top: 5px;
    }

    header .wrap .mediaTool {
        position: absolute;
        top: 15px;
        right: 20px;
        display: inline-block;
        width: 20px;
        height:20px;
        background: url(../img/menu.png) no-repeat;
        background-size: 100% 100%;
    }

    header .wrap .homeTool{
        display: block;
        position: absolute;
        top: 13px;
        right: 60px;
        width: 22px;
        height: 22px;
        background: url(../img/home.png) no-repeat;
        background-size: 100% 100%;
    }

    header .wrap .wrapList {
        display: block;
        position: fixed;
        right: -200px;
        top: 0px;
        bottom: 0px;
        width: 200px;
        margin-left: 0;
        height: auto;
        background-color: #333333;
        z-index: 100;
        opacity: 0.97;
    }
    header .wrap .wrapList>li {
        display: block;
        text-align: center;
        padding: 0px;
        line-height: 50px;
        // height: 100px;
    }

    header .wrap .wrapList>li>a{
        display: inline-block;
        width: 150px;
        line-height: 30px;
    }

    header .wrap .wrapList aside{
        display: block;
        width:100%;
        height: auto;
        margin-top:50px;
        margin-bottom: 10px;
    }
    
    header .wrap .wrapList aside img{
        display: block;
        width: 100px;
        border-radius: 100px;
        margin:20px auto;
        border: 1px solid #fff;
    }

    header .wrap .wrapList aside h2{
        color: #fff;
        font:20px "微软雅黑";
        text-align: center;
        margin-bottom: 5px;
    }

    header .wrap .wrapList aside p{
        font:14px arial;
        line-height: 24px;
        color: #fff;
        text-align: center;
    }

    header .wrap .wrapList aside p a{
        color: #fff;
        text-decoration: underline;
    }

    footer{
        width:100%;
        padding-left: 20px;
    }
}
