/*清除浮动*/
body{
    min-width: 1000px;
    overflow-y: scroll;
}

.cf {
    zoom: 1;
}

.cf:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

header {
    position: fixed;
    top:0;
    width: 100%;
    height: 80px;
    background-color: #2f5775;
}

header .wrap {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

header .wrap .title {
    float: left;
    height: 100%;
    line-height: 80px;
}

header .wrap .title a {
    font-family: arial;
    color: #fff;
}

header .wrap .wrapList {
    float: left;
    height: 80px;
    margin-left: 20px;
}

header .wrap .wrapList>li {
    display: inline-block;
    line-height: 80px;
    padding: 0 15px;
    cursor: pointer;
}

header .wrap .wrapList>li:hover {
    background-color: #22303c;
}

header .wrap .wrapList>li>a {
    font: 16px arial;
    color: #fff;
}

.contentBody {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top:80px;
    // background-color: #e4e4e4;
}

footer{
    box-sizing: border-box;
    padding: 20px 50px;
    width: 1000px;
    height: 100px;
    margin: 20px auto;
    // margin-bottom: 0px;
    border-top: 1px solid #8f959b;
    border-bottom: 1px solid #8f959b;

}

.back-to-top {
    visibility: hidden;
    position: fixed;
    left: 50%;
    margin-left: 510px;
    margin-bottom: 10px;
    bottom: 30px;
    width: 38px;
    height: 38px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    cursor: pointer;
}

.back-to-top:hover .to-top {
    display: block;
}

.back-to-top:hover .icon {
    display: none;
}

.back-to-top .icon:hover {
    display: none;
}

.back-to-top .icon:hover .to-top {
    display: block;
}

.back-to-top .to-top {
    display: none;
    position: absolute;
    font: 13px arial;
    color: #999;
    line-height: 19px;
    text-align: center;
}

.back-to-top .icon {
    display: block;
    position: absolute;
    top: 10px;
    left: 2px;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    background: url(../img/topfed.png) no-repeat -1px -10px;
}