


.contentBody section {
    box-sizing: border-box;
    float: left;
    width: 900px;
    height: 660px;
    margin-top: 50px;
}

.contentBody section article {
    width: 700px;
    height: 110px;
    margin: 40px auto;
    cursor: pointer;

}

.contentBody section article .artImg {
    float: left;
    height: 100%;
    width: 200px;
    border: 1px solid #000;
    border-radius: 3px;
}

.contentBody section article .artTitle {
	// font:22px arial;
	// font-weight: bold;
    float: left;
    margin-left: 20px;
    // margin-top: 5px;
    color: #2f5775;
}

.contentBody section article .artTitle:hover{
	text-decoration: underline;
}

.contentBody section article .des {
    margin-left: 220px;
    font: 14px arial;
    line-height: 30px;
    height: 40px;
    width: 450px;
    text-indent: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contentBody section article .from {
    float: left;
    font: 12px arial;
    margin-left: 20px;
    margin-top: 15px;
    font-style: italic;
}

.contentBody section article .tag{
	float: left;
	margin-left: 20px;
	font:12px arial;
	height: 20px;
	line-height: 20px;
	padding:0 10px;
	border-radius: 5px;
}

.contentBody section article .black{
	background-color: #000;
	color: #fff;
}

.contentBody section article .blue{
	background-color: #1a70bf;
	color: #fff;
}

.contentBody aside {
    box-sizing: border-box;
    width: 400px;
    height: 660px;
    float: left;
    margin-top: 50px;
    margin-bottom: 20px;
    border-left: 1px solid #8f959b;
}

.contentBody aside .photo {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

.contentBody aside h2 {
    font: 22px arial;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.contentBody aside p {
    font: 14px arial;
    margin-top: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.contentBody aside p a {
    color: #000;
    text-decoration: underline;
}
