.contentBody section {
    box-sizing: border-box;
    float: left;
    width: 700px;
    margin-top: 50px;
    border-right: 1px solid #8f959b;
}

.contentBody section article {
    width: 700px;
    height: 110px;
    margin: 40px auto;
    cursor: pointer;
}

.contentBody section article .artImg {
    float: left;
    height: 100%;
    width: 200px;
    border: 1px solid #000;
    border-radius: 3px;
    transition: 0.5s;
    // background: url(../img/firstBlog.jpg) no-repeat;
}

#art1 {
    background: url(../img/firstBlog.jpg) no-repeat center center;
    background-size: 100% 100%;
}

#art2 {
    background: url(../img/calcultor.jpg) no-repeat center center;
    background-size: 100% 100%;
}

#art3 {
    background: url(../img/JSobject2.jpg) no-repeat center center;
    background-size: 100% 100%;
}

#art4 {
    background: url(../img/JSobject2.jpg) no-repeat center center;
    background-size: 100% 100%;
}

#art5 {
    background: url(../img/DOM.png) no-repeat center center;
    background-size: 100% 100%;
}

#art6 {
    background: url(../img/angularJS.jpg) no-repeat center center;
    background-size: 100% 100%;
}

#art7 {
    background: url(../img/this.png) no-repeat center center;
    background-size: 100% 100%;
}


.artImg:hover {
    background-size: 110% 110% !important;
}

.contentBody section article .artTitle {
    // font:22px arial;
    // font-weight: bold;
    float: left;
    margin-left: 20px;
    // margin-top: 5px;
    color: #2f5775;
}

.contentBody section article .artTitle:hover {
    text-decoration: underline;
}

.contentBody section article .des {
    margin-left: 220px;
    font: 14px arial;
    line-height: 30px;
    height: 40px;
    width: 450px;
    text-indent: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contentBody section article .from {
    float: left;
    font: 12px arial;
    margin-left: 20px;
    margin-top: 15px;
    font-style: italic;
}

.contentBody section article .tag {
    float: left;
    margin-left: 20px;
    font: 12px arial;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 5px;
}

.contentBody section article .black {
    background-color: #000;
    color: #fff;
}

.contentBody section article .blue {
    background-color: #1a70bf;
    color: #fff;
}

.contentBody aside {
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    float: left;
    margin-top: 50px;
    margin-bottom: 20px;
    // border-left: 1px solid #8f959b;
}

.contentBody aside .photo {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

.contentBody aside h2 {
    font: 22px arial;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.contentBody aside p {
    font: 14px arial;
    margin-top: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.contentBody aside p a {
    color: #000;
    text-decoration: underline;
}

@media screen and (max-width: 780px) {
    .contentBody aside {
        display: none;
    }
}
